<!DOCTYPE html>
<html>
  <head>
    <title>Nanatama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>  <!-- CSRFトークンを埋め込む -->
    <%= csp_meta_tag %>    <!-- Content Security Policy -->
    <script src="https://kit.fontawesome.com/01d45ce304.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>  <!-- CSSファイルのリンク -->
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>  <!-- JSファイルのリンク -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
