<!DOCTYPE html>
<html>
  <head>
    <title>Nanatama</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>  <!-- CSRFトークンを埋め込む -->
    <%= csp_meta_tag %>    <!-- Content Security Policy -->
    <%= stylesheet_link_tag 'application', media: 'all' %>  <!-- CSSファイルのリンク -->
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>  <!-- JSファイルのリンク -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
