<% videos.each do |video| %>
  <div class="video" 
      data-video-id="<%= video.video_id %>" 
      data-song-title="<%= video.song_title %>" 
      data-artist="<%= video.artist %>" 
      data-start-seconds="<%= video.start_seconds %>" 
      data-end-seconds="<%= video.end_seconds %>">
    
    <!-- 動画のサムネイル -->
    <img src="<%= video.thumbnail_url %>" alt="<%= video.song_title %>" class="video-thumbnail">

    <!-- 曲名とアーティスト名 -->
    <div class="video-info">
      <h3 class="song-title"><%= video.song_title %></h3>
      <p class="artist"><%= video.artist %></p>
    </div>
    
    <!-- お気に入りボタン -->
    <div class="favorite-button">
      <% if current_user.favorites.exists?(video: video) %>
        <%= button_to "♡ お気に入り解除", video_favorite_path(video), method: :delete, class: "unfavorite-btn" %>
      <% else %>
        <%= button_to "♡ お気に入り", video_favorite_path(video), method: :post, class: "favorite-btn" %>
      <% end %>
    </div>
  </div>
<% end %>
